In [48]:
import re
import glob
import pandas as pd
import csv

In [49]:
# Read in cliches into a list
with open("cliche_edited.txt") as cliche_file:
    cliches_list = [line.rstrip() for line in cliche_file]

First we tried to see if we could get any results on one author to check if the cliches existed in the data

In [50]:
# Try running on one author
txt_files = glob.glob("novels_clean/Lewis Carroll/*.txt")

cliche_count = 0

# Read each file
for file in txt_files:
    f = open(file, "r")
    
    # Loop through each line in the text
    for line in f:
        # Check for each cliche
        for cliche in cliches_list:
            if cliche in line:
                cliche_count += 1
    
    f.close()

print("Number of cliches: ")
print(cliche_count)

Number of cliches:
627

Once that was successful, we tried the same approach on all authors

In [51]:
# Try running on all authors
# Collect list of all author names
folders = glob.glob("novels_clean/*")

# For each author, check # of cliches
for author in folders:
    path = author + "/*.txt"
    txt_files = glob.glob(path)

    cliche_count = 0

    # Read each file
    for file in txt_files:
        f = open(file, "r")

        # Loop through each line in the text
        for line in f:
            # Check for each cliche
            for cliche in cliches_list:
                if cliche in line:
                    cliche_count += 1

        f.close()

    # Print number of cliches found in each authors total files
    print("Number of cliches for " + author + ": ")
    print(cliche_count)

Number of cliches for novels_clean/H.B. Marriott Watson:
273
Number of cliches for novels_clean/William Harrison Ainsworth:
2013
Number of cliches for novels_clean/Clemence Housman:
134
Number of cliches for novels_clean/James Payn:
762
Number of cliches for novels_clean/Georgiana Fullerton:
260
Number of cliches for novels_clean/Emma Leslie:
250
Number of cliches for novels_clean/Frederick Marryat:
5476
Number of cliches for novels_clean/Leonard Merrick:
593
Number of cliches for novels_clean/Emily Bronte:
118
Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "/Users/milkcap/Library/Python/3.11/lib/python/site-packages/IPython/core/interactiveshell.py", line 3505, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "/var/folders/_3/fcgjmwrx07d11ylq6tn308fr0000gn/T/ipykernel_15071/1126751696.py", line -1, in <module>
KeyboardInterrupt

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/milkcap/Library/Python/3.11/lib/python/site-packages/IPython/core/interactiveshell.py", line 2102, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/milkcap/Library/Python/3.11/lib/python/site-packages/IPython/core/ultratb.py", line 1310, in structured_traceback
    return FormattedTB.structured_traceback(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/milkcap/Library/Python/3.11/lib/python/site-packages/IPython/core/ultratb.py", line 1199, in structured_traceback
    return VerboseTB.structured_traceback(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/milkcap/Library/Python/3.11/lib/python/site-packages/IPython/core/ultratb.py", line 1052, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
                          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/milkcap/Library/Python/3.11/lib/python/site-packages/IPython/core/ultratb.py", line 978, in format_exception_as_a_whole
    frames.append(self.format_record(record))
                  ^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/Users/milkcap/Library/Python/3.11/lib/python/site-packages/IPython/core/ultratb.py", line 878, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
    ^^^^^^^^^^^^^^^^
  File "/Users/milkcap/Library/Python/3.11/lib/python/site-packages/IPython/core/ultratb.py", line 712, in lines
    return self._sd.lines
           ^^^^^^^^^^^^^^
  File "/Users/milkcap/Library/Python/3.11/lib/python/site-packages/stack_data/utils.py", line 144, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
                                               ^^^^^^^^^^^^^^
  File "/Users/milkcap/Library/Python/3.11/lib/python/site-packages/stack_data/core.py", line 734, in lines
    pieces = self.included_pieces
             ^^^^^^^^^^^^^^^^^^^^
  File "/Users/milkcap/Library/Python/3.11/lib/python/site-packages/stack_data/utils.py", line 144, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
                                               ^^^^^^^^^^^^^^
  File "/Users/milkcap/Library/Python/3.11/lib/python/site-packages/stack_data/core.py", line 681, in included_pieces
    pos = scope_pieces.index(self.executing_piece)
                             ^^^^^^^^^^^^^^^^^^^^
  File "/Users/milkcap/Library/Python/3.11/lib/python/site-packages/stack_data/utils.py", line 144, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
                                               ^^^^^^^^^^^^^^
  File "/Users/milkcap/Library/Python/3.11/lib/python/site-packages/stack_data/core.py", line 660, in executing_piece
    return only(
           ^^^^^
  File "/Users/milkcap/Library/Python/3.11/lib/python/site-packages/executing/executing.py", line 190, in only
    raise NotOneValueFound('Expected one value, found 0')
executing.executing.NotOneValueFound: Expected one value, found 0

This gave results, but looking back at our list of expressions, it seems there may be some false positives.  As such, we're going to exclude one-word expressions and add in word boundaries.  Additionaly, we were counting the number of cliches present in the file—we've updated the code to count duplicate occurances of specific cliches.

In [ ]:
# Remove single word cliches
new_cliches_list = []
for cliche in cliches_list:
    if " " in cliche.strip():
        new_cliches_list.append(cliche)

In [ ]:
# Try new approach running on one author
txt_files = glob.glob("novels_clean/Jane Austen/*.txt")

cliche_count = 0

# Read each file
for file in txt_files:
    f = open(file, "r")
    
    # Loop through each line in the text
    for line in f:
        
        # Check for each cliche
        for cliche in new_cliches_list:
            cliche_count += line.count(cliche)
    
    f.close()

print("Number of cliches: ")
print(cliche_count)

Number of cliches:
8646

Playing with the results, these seem much more meaningful.  Let's try this for all the authors.

In [ ]:
# Dictionary to hold author: cliche count
author_results = {}

In [ ]:
# Try running on all authors
# Collect list of all author names
folders = glob.glob("novels_clean/*")

# For each author, check # of cliches
for author in folders:
    path = author + "/*.txt"
    txt_files = glob.glob(path)

    cliche_count = 0

    # Read each file
    for file in txt_files:
        f = open(file, "r")

        # Loop through each line in the text
        for line in f:
            # Check for each cliche
            for cliche in new_cliches_list:
                cliche_count += line.count(cliche)

        f.close()

    # Print number of cliches found in each authors total files
    author = author[13:]
    print("Number of cliches for " + author + ": ")
    print(cliche_count)
    
    # Add to dictionary
    author_results[author] = cliche_count

Number of cliches for H.B. Marriott Watson:
991
Number of cliches for William Harrison Ainsworth:
9763
Number of cliches for Clemence Housman:
322
Number of cliches for James Payn:
2369
Number of cliches for Georgiana Fullerton:
1860
Number of cliches for Emma Leslie:
758
Number of cliches for Frederick Marryat:
26371
Number of cliches for Leonard Merrick:
2110
Number of cliches for Emily Bronte:
548
Number of cliches for William Makepeace Thackeray:
14037
Number of cliches for Florence Marryat:
1044
Number of cliches for Israel Zangwill:
7227
Number of cliches for Hall Caine:
13542
Number of cliches for Morley Roberts:
2264
Number of cliches for Ann Radcliffe:
1846
Number of cliches for H.G. Wells:
20170
Number of cliches for E. Phillips Oppenheim:
11341
Number of cliches for R.D. Blackmore:
18888
Number of cliches for Thomas Hughes:
4889
Number of cliches for Thomas Love Peacock:
935
Number of cliches for Edgar Jepson:
950
Number of cliches for Ouida:
9448
Number of cliches for Maurice Hewlett:
6204
Number of cliches for Thomas Hardy:
12908
Number of cliches for Walter Besant:
9368
Number of cliches for G.A. Henty:
61749
Number of cliches for Bernard Capes:
7192
Number of cliches for Charles Dickens:
37035
Number of cliches for Frederick Rolfe:
610
Number of cliches for Hugh Conway:
403
Number of cliches for Maria Edgeworth:
11079
Number of cliches for Elizabeth Gaskell:
13872
Number of cliches for William Godwin:
2159
Number of cliches for Walter Pater:
1152
Number of cliches for Grace Aguilar:
3679
Number of cliches for Charles Kingsley:
6568
Number of cliches for Charlotte Bronte:
3395
Number of cliches for George Grossmith:
279
Number of cliches for Anthony Trollope:
56956
Number of cliches for Flora Annie Steel:
10062
Number of cliches for Amelia Opie:
1131
Number of cliches for Henry Kingsley:
2285
Number of cliches for Nicholas Wiseman:
668
Number of cliches for Regina Maria Roche:
1105
Number of cliches for E.F. Benson:
21578
Number of cliches for Benjamin Disraeli:
6614
Number of cliches for Annie Edwards:
620
Number of cliches for Lewis Carroll:
1883
Number of cliches for Edwin Lester Arnold:
1112
Number of cliches for Mary Shelley:
5038
Number of cliches for Fergus Hume:
29461
Number of cliches for Arthur Morrison:
2603
Number of cliches for Mary Angela Dickens:
826
Number of cliches for Mona Caird:
974
Number of cliches for George Eliot:
10660
Number of cliches for John Strange Winter:
998
Number of cliches for Frances Hodgson Burnett:
15735
Number of cliches for Henry William Herbert:
1307
Number of cliches for Talbot Baines Reed:
10148
Number of cliches for Wilkie Collins:
24267
Number of cliches for Jerome K. Jerome:
5547
Number of cliches for George W.M. Reynolds:
9840
Number of cliches for Rosa Nouchette Carey:
7856
Number of cliches for Sarah Grand:
3520
Number of cliches for Lucas Malet:
3847
Number of cliches for Laurence Housman:
1056
Number of cliches for Harry Collingwood:
15802
Number of cliches for Anne Bronte:
1428
Number of cliches for Emily Sarah Holt:
8958
Number of cliches for Thomas Holcroft:
1844
Number of cliches for Jean Ingelow:
1373
Number of cliches for Susanna Moodie:
2596
Number of cliches for Amy Levy:
371
Number of cliches for George Meredith:
37994
Number of cliches for Jane Austen:
8646
Number of cliches for John Henry Newman:
1180
Number of cliches for Charles Reade:
13651

In [ ]:
print(author_results)

{'H.B. Marriott Watson': 991, 'William Harrison Ainsworth': 9763, 'Clemence Housman': 322, 'James Payn': 2369, 'Georgiana Fullerton': 1860, 'Emma Leslie': 758, 'Frederick Marryat': 26371, 'Leonard Merrick': 2110, 'Emily Bronte': 548, 'William Makepeace Thackeray': 14037, 'Florence Marryat': 1044, 'Israel Zangwill': 7227, 'Hall Caine': 13542, 'Morley Roberts': 2264, 'Ann Radcliffe': 1846, 'H.G. Wells': 20170, 'E. Phillips Oppenheim': 11341, 'R.D. Blackmore': 18888, 'Thomas Hughes': 4889, 'Thomas Love Peacock': 935, 'Edgar Jepson': 950, 'Ouida': 9448, 'Maurice Hewlett': 6204, 'Thomas Hardy': 12908, 'Walter Besant': 9368, 'G.A. Henty': 61749, 'Bernard Capes': 7192, 'Charles Dickens': 37035, 'Frederick Rolfe': 610, 'Hugh Conway': 403, 'Maria Edgeworth': 11079, 'Elizabeth Gaskell': 13872, 'William Godwin': 2159, 'Walter Pater': 1152, 'Grace Aguilar': 3679, 'Charles Kingsley': 6568, 'Charlotte Bronte': 3395, 'George Grossmith': 279, 'Anthony Trollope': 56956, 'Flora Annie Steel': 10062, 'Amelia Opie': 1131, 'Henry Kingsley': 2285, 'Nicholas Wiseman': 668, 'Regina Maria Roche': 1105, 'E.F. Benson': 21578, 'Benjamin Disraeli': 6614, 'Annie Edwards': 620, 'Lewis Carroll': 1883, 'Edwin Lester Arnold': 1112, 'Mary Shelley': 5038, 'Fergus Hume': 29461, 'Arthur Morrison': 2603, 'Mary Angela Dickens': 826, 'Mona Caird': 974, 'George Eliot': 10660, 'John Strange Winter': 998, 'Frances Hodgson Burnett': 15735, 'Henry William Herbert': 1307, 'Talbot Baines Reed': 10148, 'Wilkie Collins': 24267, 'Jerome K. Jerome': 5547, 'George W.M. Reynolds': 9840, 'Rosa Nouchette Carey': 7856, 'Sarah Grand': 3520, 'Lucas Malet': 3847, 'Laurence Housman': 1056, 'Harry Collingwood': 15802, 'Anne Bronte': 1428, 'Emily Sarah Holt': 8958, 'Thomas Holcroft': 1844, 'Jean Ingelow': 1373, 'Susanna Moodie': 2596, 'Amy Levy': 371, 'George Meredith': 37994, 'Jane Austen': 8646, 'John Henry Newman': 1180, 'Charles Reade': 13651}

In [52]:
df = pd.read_csv("english_novelists.csv")
df.head(10)

,gutenberg_name,goodreads_name,num_mla_entries,alt_name,average_rating,author_id,text_reviews_count,ratings_count,gutenberg_texts
0,"Aguilar, Grace, 1816-1847",Grace Aguilar,27,NaN,3.27,127826,50,370,"[{'gutenberg_id': '12361', 'title': ""The Mothe..."
1,"Ainsworth, William Harrison, 1805-1882",William Harrison Ainsworth,50,NaN,3.41,141739,123,718,"[{'gutenberg_id': '2866', 'title': 'Windsor Ca..."
2,"Arnold, Edwin Lester, 1857-1935",Edwin Lester Arnold,5,NaN,3.11,5865720,47,218,"[{'gutenberg_id': '604', 'title': 'Gulliver of..."
3,"Austen, Jane, 1775-1817",Jane Austen,5593,NaN,4.10,1265,127817,4693826,"[{'gutenberg_id': '105', 'title': 'Persuasion'..."
4,"Benson, E. F. (Edward Frederic), 1867-1940",E.F. Benson,21,"Benson, Edward Frederic",4.04,13479797,2155,24458,"[{'gutenberg_id': '2072', 'title': 'Michael', ..."
5,"Besant, Walter, 1836-1901",Walter Besant,63,NaN,3.56,311761,88,1199,"[{'gutenberg_id': '16129', 'title': 'In Luck a..."
6,"Blackmore, R. D. (Richard Doddridge), 1825-1900",R.D. Blackmore,70,"Blackmore, Richard",3.72,545254,544,13422,"[{'gutenberg_id': '840', 'title': 'Lorna Doone..."
7,"Brontë, Anne, 1820-1849",Anne Bronte,446,NaN,3.84,8249,5299,114648,"[{'gutenberg_id': '767', 'title': 'Agnes Grey'..."
8,"Brontë, Charlotte, 1816-1855",Charlotte Bronte,2593,NaN,4.08,1036615,37697,1420215,"[{'gutenberg_id': '1028', 'title': 'The Profes..."
9,"Brontë, Emily, 1818-1848",Emily Bronte,1440,NaN,3.83,4191,27743,1046247,"[{'gutenberg_id': '768', 'title': 'Wuthering H..."

In [53]:
# declare new dictionar

author_text = {}

# Try running on all authors
# Collect list of all author names
folders = glob.glob("novels_clean/*")

# For each author, check # of cliches
for author in folders:
    path = author + "/*.txt"
    txt_files = glob.glob(path)

    text_count = 0

    # Read each file
    for file in txt_files:
        f = open(file, "r")

        # Loop through each line in the text
        for line in f:
            # Check for each cliche
            lines = line.split()
            text_count += len(lines)

        f.close()

    # Print number of text in each authors total files
    author = author[13:]
    print("Number of text for " + author + ": ")
    print(text_count)


    # Add to dictionary
    author_text[author] = text_count

Number of text for H.B. Marriott Watson:
112756
Number of text for William Harrison Ainsworth:
1670371
Number of text for Clemence Housman:
58275
Number of text for James Payn:
337324
Number of text for Georgiana Fullerton:
236213
Number of text for Emma Leslie:
89204
Number of text for Frederick Marryat:
3707018
Number of text for Leonard Merrick:
263722
Number of text for Emily Bronte:
83064
Number of text for William Makepeace Thackeray:
2139337
Number of text for Florence Marryat:
123419
Number of text for Israel Zangwill:
1048521
Number of text for Hall Caine:
1578008
Number of text for Morley Roberts:
270160
Number of text for Ann Radcliffe:
360034
Number of text for H.G. Wells:
2697844
Number of text for E. Phillips Oppenheim:
1564557
Number of text for R.D. Blackmore:
2115919
Number of text for Thomas Hughes:
572786
Number of text for Thomas Love Peacock:
152140
Number of text for Edgar Jepson:
130692
Number of text for Ouida:
1395846
Number of text for Maurice Hewlett:
772071
Number of text for Thomas Hardy:
1757337
Number of text for Walter Besant:
1192682
Number of text for G.A. Henty:
8371004
Number of text for Bernard Capes:
928518
Number of text for Charles Dickens:
4597649
Number of text for Frederick Rolfe:
93094
Number of text for Hugh Conway:
56722
Number of text for Maria Edgeworth:
1668840
Number of text for Elizabeth Gaskell:
1575924
Number of text for William Godwin:
318549
Number of text for Walter Pater:
163020
Number of text for Grace Aguilar:
594951
Number of text for Charles Kingsley:
816356
Number of text for Charlotte Bronte:
509940
Number of text for George Grossmith:
31074
Number of text for Anthony Trollope:
6966482
Number of text for Flora Annie Steel:
1246887
Number of text for Amelia Opie:
171104
Number of text for Henry Kingsley:
302253
Number of text for Nicholas Wiseman:
104341
Number of text for Regina Maria Roche:
188857
Number of text for E.F. Benson:
2641338
Number of text for Benjamin Disraeli:
1212949
Number of text for Annie Edwards:
110722
Number of text for Lewis Carroll:
236343
Number of text for Edwin Lester Arnold:
161390
Number of text for Mary Shelley:
892653
Number of text for Fergus Hume:
3892179
Number of text for Arthur Morrison:
403020
Number of text for Mary Angela Dickens:
137019
Number of text for Mona Caird:
119047
Number of text for George Eliot:
1349051
Number of text for John Strange Winter:
107231
Number of text for Frances Hodgson Burnett:
1663355
Number of text for Henry William Herbert:
216878
Number of text for Talbot Baines Reed:
1111102
Number of text for Wilkie Collins:
2917408
Number of text for Jerome K. Jerome:
657434
Number of text for George W.M. Reynolds:
1406248
Number of text for Rosa Nouchette Carey:
1059749
Number of text for Sarah Grand:
434233
Number of text for Lucas Malet:
588738
Number of text for Laurence Housman:
140478
Number of text for Harry Collingwood:
2158583
Number of text for Anne Bronte:
168607
Number of text for Emily Sarah Holt:
1205732
Number of text for Thomas Holcroft:
285078
Number of text for Jean Ingelow:
147059
Number of text for Susanna Moodie:
371583
Number of text for Amy Levy:
55537
Number of text for George Meredith:
5534503
Number of text for Jane Austen:
1452922
Number of text for John Henry Newman:
149718
Number of text for Charles Reade:
1792613

In [54]:
df_text = pd.DataFrame(author_text.items(), columns=['Author', 'Total_word'])
df_cliche = pd.DataFrame(author_results.items(), columns = ['Author', 'Cliche'])

df_merged = pd.merge(df_text, df_cliche)

df = pd.merge(df, df_merged, how="left", left_on="goodreads_name", right_on="Author")

,gutenberg_name,goodreads_name,num_mla_entries,alt_name,average_rating,author_id,text_reviews_count,ratings_count,gutenberg_texts,Author,Total_word,Cliche
0,"Aguilar, Grace, 1816-1847",Grace Aguilar,27,NaN,3.27,127826,50,370,"[{'gutenberg_id': '12361', 'title': ""The Mothe...",Grace Aguilar,594951,3679
1,"Ainsworth, William Harrison, 1805-1882",William Harrison Ainsworth,50,NaN,3.41,141739,123,718,"[{'gutenberg_id': '2866', 'title': 'Windsor Ca...",William Harrison Ainsworth,1670371,9763
2,"Arnold, Edwin Lester, 1857-1935",Edwin Lester Arnold,5,NaN,3.11,5865720,47,218,"[{'gutenberg_id': '604', 'title': 'Gulliver of...",Edwin Lester Arnold,161390,1112
3,"Austen, Jane, 1775-1817",Jane Austen,5593,NaN,4.10,1265,127817,4693826,"[{'gutenberg_id': '105', 'title': 'Persuasion'...",Jane Austen,1452922,8646
4,"Benson, E. F. (Edward Frederic), 1867-1940",E.F. Benson,21,"Benson, Edward Frederic",4.04,13479797,2155,24458,"[{'gutenberg_id': '2072', 'title': 'Michael', ...",E.F. Benson,2641338,21578
5,"Besant, Walter, 1836-1901",Walter Besant,63,NaN,3.56,311761,88,1199,"[{'gutenberg_id': '16129', 'title': 'In Luck a...",Walter Besant,1192682,9368
6,"Blackmore, R. D. (Richard Doddridge), 1825-1900",R.D. Blackmore,70,"Blackmore, Richard",3.72,545254,544,13422,"[{'gutenberg_id': '840', 'title': 'Lorna Doone...",R.D. Blackmore,2115919,18888
7,"Brontë, Anne, 1820-1849",Anne Bronte,446,NaN,3.84,8249,5299,114648,"[{'gutenberg_id': '767', 'title': 'Agnes Grey'...",Anne Bronte,168607,1428
8,"Brontë, Charlotte, 1816-1855",Charlotte Bronte,2593,NaN,4.08,1036615,37697,1420215,"[{'gutenberg_id': '1028', 'title': 'The Profes...",Charlotte Bronte,509940,3395
9,"Brontë, Emily, 1818-1848",Emily Bronte,1440,NaN,3.83,4191,27743,1046247,"[{'gutenberg_id': '768', 'title': 'Wuthering H...",Emily Bronte,83064,548

In [56]:
# Create normalized cliche count in terms of ratio to the total number of text
df["cliche_ratio"] = df["Cliche"] / df["Total_word"]

# select columns of interest: cliche ratio, ratings

,gutenberg_name,goodreads_name,num_mla_entries,alt_name,average_rating,author_id,text_reviews_count,ratings_count,gutenberg_texts,Author,Total_word,Cliche,cliche_ratio
0,"Aguilar, Grace, 1816-1847",Grace Aguilar,27,NaN,3.27,127826,50,370,"[{'gutenberg_id': '12361', 'title': ""The Mothe...",Grace Aguilar,594951,3679,0.006184
1,"Ainsworth, William Harrison, 1805-1882",William Harrison Ainsworth,50,NaN,3.41,141739,123,718,"[{'gutenberg_id': '2866', 'title': 'Windsor Ca...",William Harrison Ainsworth,1670371,9763,0.005845
2,"Arnold, Edwin Lester, 1857-1935",Edwin Lester Arnold,5,NaN,3.11,5865720,47,218,"[{'gutenberg_id': '604', 'title': 'Gulliver of...",Edwin Lester Arnold,161390,1112,0.006890
3,"Austen, Jane, 1775-1817",Jane Austen,5593,NaN,4.10,1265,127817,4693826,"[{'gutenberg_id': '105', 'title': 'Persuasion'...",Jane Austen,1452922,8646,0.005951
4,"Benson, E. F. (Edward Frederic), 1867-1940",E.F. Benson,21,"Benson, Edward Frederic",4.04,13479797,2155,24458,"[{'gutenberg_id': '2072', 'title': 'Michael', ...",E.F. Benson,2641338,21578,0.008169
5,"Besant, Walter, 1836-1901",Walter Besant,63,NaN,3.56,311761,88,1199,"[{'gutenberg_id': '16129', 'title': 'In Luck a...",Walter Besant,1192682,9368,0.007855
6,"Blackmore, R. D. (Richard Doddridge), 1825-1900",R.D. Blackmore,70,"Blackmore, Richard",3.72,545254,544,13422,"[{'gutenberg_id': '840', 'title': 'Lorna Doone...",R.D. Blackmore,2115919,18888,0.008927
7,"Brontë, Anne, 1820-1849",Anne Bronte,446,NaN,3.84,8249,5299,114648,"[{'gutenberg_id': '767', 'title': 'Agnes Grey'...",Anne Bronte,168607,1428,0.008469
8,"Brontë, Charlotte, 1816-1855",Charlotte Bronte,2593,NaN,4.08,1036615,37697,1420215,"[{'gutenberg_id': '1028', 'title': 'The Profes...",Charlotte Bronte,509940,3395,0.006658
9,"Brontë, Emily, 1818-1848",Emily Bronte,1440,NaN,3.83,4191,27743,1046247,"[{'gutenberg_id': '768', 'title': 'Wuthering H...",Emily Bronte,83064,548,0.006597